#item_list_container{min-height: 50vh;background-color: #fafafa; padding-bottom: 50px;}
#item_list_container_header{min-height: 30vh;background-color: #fafafa;display: flex;justify-content: center;align-items: center;}
