#item_list_container {
  min-height: 90vh;
  background-color: #fafafa;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#item_list_container_header {
  height: 200px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
